<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.greentipskotlin">
    <!-- Permissions for accessing storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GreentipsKotlin"
        tools:targetApi="31">
        <activity
            android:name=".App.Supplier.Activity.SupplyDetails"
            android:exported="false" />
        <activity
            android:name=".App.FinanceManager.Activity.FinanceManagerMenu"
            android:exported="false" />
        <activity
            android:name=".App.FieldManager.Activity.FieldManagerMenu"
            android:exported="false" />
        <activity
            android:name=".App.Buyer.Activity.BuyerOrderPlaced"
            android:exported="false" />
        <activity
            android:name=".App.Buyer.Activity.AddCreditCard"
            android:exported="false" />
        <activity
            android:name=".App.User_Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".App.Buyer.Activity.BuyerMenu"
            android:exported="false" />
        <activity
            android:name=".App.Buyer.Activity.ItemDetails"
            android:exported="false" />
        <activity
            android:name=".App.FieldManager.Activity.CatalogueItemUpdate"
            android:exported="false" />
        <activity
            android:name=".App.FieldManager.CatalogueItemInsert"
            android:exported="false" />
        <activity
            android:name=".App.Admin.Activity.WorkerDetails"
            android:exported="false" />
        <activity
            android:name=".App.Admin.Activity.WorkerDetailsInsert"
            android:exported="false" />
        <activity
            android:name=".App.Admin.Activity.FieldManagerDetails"
            android:exported="false" />
        <activity
            android:name=".App.Admin.Activity.FieldManagerDetailsInsert"
            android:exported="false" />
        <activity
            android:name=".App.Admin.Activity.CeoDetails"
            android:exported="false" />
        <activity
            android:name=".App.Admin.Activity.AdminDetails"
            android:exported="false" />
        <activity
            android:name=".App.Admin.Activity.CeoDetailsInsert"
            android:exported="false" />
        <activity
            android:name=".App.Admin.Activity.EmployeeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".App.Admin.Activity.AdminDetailsInsert"
            android:exported="false" />
        <activity
            android:name=".App.Supplier.SupplierMenu"
            android:exported="false" />
        <activity
            android:name=".App.CEO.CEOMenu"
            android:exported="false" />
        <activity
            android:name=".App.Staff_Login"
            android:exported="false" />
        <activity
            android:name=".App.StaffLoginFrontPage"
            android:exported="false" />
        <activity
            android:name=".App.Admin.Activity.ResourceDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".App.Admin.Activity.ResourceInsert"
            android:exported="false" />
        <activity
            android:name=".App.Admin.Activity.FertilizerInsert"
            android:exported="false" />
        <activity
            android:name=".App.Admin.Activity.SupplierInsert"
            android:exported="false" />
        <activity
            android:name=".App.Admin.Activity.HarvestInfomationInsert"
            android:exported="false" />
        <activity
            android:name=".App.Admin.Activity.IntercropsInsert"
            android:exported="false" />
        <activity
            android:name=".App.Admin.Activity.BuyerInsert"
            android:exported="false" />
        <activity
            android:name=".App.Admin.Activity.CoconutInsert"
            android:exported="false" />
        <activity
            android:name=".App.Admin.Activity.EstateInsert"
            android:exported="false" />
        <activity
            android:name=".App.Admin.Activity.EmployeePositionInsert"
            android:exported="false" />
        <activity
            android:name=".App.Admin.Activity.UserProfileManagement"
            android:exported="false"
            android:label="Add New Employee"
            android:parentActivityName=".App.Admin.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".App.Admin.MainActivity" />
        </activity>
        <activity
            android:name=".App.Admin.Activity.EmployeeInsert"
            android:exported="false"
            android:parentActivityName=".App.Admin.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".App.Admin.MainActivity" />
        </activity>
        <activity
            android:name=".App.Admin.MainActivity"
            android:exported="false"
            android:label="Admin Dashboard" />
    </application>

</manifest>